/*цвет основного текста #000000 #2196F3*/
/*вторичній цвет #757575; #212121; #FFFFFF
/*акцент rgba(255, 255, 255, 0.6); 
/*background: #2F303A; background: #188CE8; 
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);border-radius: 4px;*/
/*кнопка background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;*/
/*background: #2F303A;*/
/*border: 1px solid #ECECEC;*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}